<a href="https://colab.research.google.com/github/javel3232/Predict-students-dropout-and-academic-success/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

El conjunto de datos fue creado a partir de una institución de educación superior (adquirida de varias bases de datos disjuntas) relacionada con estudiantes matriculados en diferentes carreras de pregrado, como agronomía, diseño, educación, enfermería, periodismo, administración, servicio social y tecnologías. El conjunto de datos incluye información conocida en el momento de la matrícula de los estudiantes (trayectoria académica, datos demográficos y factores socioeconómicos) y el rendimiento académico de los estudiantes al final del primer y segundo semestre. Los datos se utilizan para construir modelos de clasificación para predecir la deserción y el éxito académico de los estudiantes. El problema se formula como una tarea de clasificación de tres categorías, en la que hay un fuerte desequilibrio hacia una de las clases.

---

##*Descripcion de los datos:*

**Marital Status:** Estado civil estudiantes.

**Application mode:**Representa una modalidad de ingreso a un programa educativo.

**Application order:**Orden de solicitud (entre 0 - primera opción; y 9 última opción).

**Course:**Programas educativos matruculados por los estudiantes.

**Daytime/evening attendance:**Tipo de asistencia Diurna o Nocturna.

**Previous qualification:**Tipo de Eduacacion anterior obtenida por los estudiantes.

**Previous qualification (grade):**Nota de calificación anterior (entre 0 y 200)

In [11]:
datos = pd.read_csv("data.csv" , sep=";")

datos.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [9]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance	                     4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Previous qualification (grade)                  4424 non-null   float64
 7   Nacionality                                     4424 non-null   int64
 8   Mother's qualification                          4424 non-null   int64
 9   Father's qualification                          4424 non-null   int64
 10  Mother's occupation                             4424 non-null   int64
 11  Father's occupation                             4424 non-null   int64
 12  Admission grade                                 4424 non-null   float64
 13  Displaced                                       4424 non-null   int64
 14  Educational special needs                       4424 non-null   int64
 15  Debtor                                          4424 non-null   int64
 16  Tuition fees up to date                         4424 non-null   int64
 17  Gender                                          4424 non-null   int64
 18  Scholarship holder                              4424 non-null   int64
 19  Age at enrollment                               4424 non-null   int64
 20  International                                   4424 non-null   int64
 21  Curricular units 1st sem (credited)             4424 non-null   int64
 22  Curricular units 1st sem (enrolled)             4424 non-null   int64
 23  Curricular units 1st sem (evaluations)          4424 non-null   int64
 24  Curricular units 1st sem (approved)             4424 non-null   int64
 25  Curricular units 1st sem (grade)                4424 non-null   float64
 26  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 27  Curricular units 2nd sem (credited)             4424 non-null   int64
 28  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 29  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 30  Curricular units 2nd sem (approved)             4424 non-null   int64
 31  Curricular units 2nd sem (grade)                4424 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 33  Unemployment rate                               4424 non-null   float64
 34  Inflation rate                                  4424 non-null   float64
 35  GDP                                             4424 non-null   float64
 36  Target                                          4424 non-null   object
dtypes: float64(7), int64(29), object(1)
memory usage: 1.2+ MB

In [10]:
datos['Admission grade'].unique()

array([127.3, 142.5, 124.8, 119.6, 141.5, 114.8, 128.4, 113.1, 129.3,
       123. , 130.6, 119.3, 130.2, 111.8, 137.1, 120.7, 137.4, 136.3,
       124.6, 120.3, 121.8, 125.5, 114.9, 123.9, 157. , 116.4, 131. ,
       122.1, 118.8, 150. , 130. , 138.8, 134.5, 131.4, 102.5, 128.8,
       122.9, 113.9, 120. , 121.1, 120.4, 100.6, 121.4, 109.7, 134.1,
       127.6, 132.4, 133.4, 126.1, 113.5, 121.3, 159.3, 129.1, 155.3,
       139.8, 115.2, 131.9, 126. , 120.9, 128.2, 120.1, 100. , 134. ,
       130.8, 135.8, 111.7, 132.9, 115.5, 106. , 117. , 110.2, 155.7,
       180.4, 110. , 161. , 117.6, 128.7, 112.2, 100.8, 105. , 114. ,
       137. , 124.9, 134.3, 111.5, 160. , 117.4, 122.2, 118.2, 106.7,
       108.2, 107. , 136.1, 115.3, 140.4, 113.4, 118.6, 122.3, 127.9,
       117.1, 145.3, 122.6, 128. , 123.7, 131.7, 133.2, 109.3, 113. ,
       157.9, 112.1, 174.7, 110.1,  99.7, 121. , 119.1, 124.7, 117.2,
       131.5, 121.7, 123.4, 132.8, 108.7, 138.1, 126.5, 127.4, 123.6,
       122. , 125.8, 123.3, 124.4, 170. , 121.5, 108. , 132.3, 148. ,
       113.3, 133. , 140. , 128.3, 104. , 135. , 126.6, 129. , 162.3,
       163.4, 122.8, 118. , 129.8, 152. , 131.8, 105.9, 132.1, 129.5,
       126.7, 116.5, 149.8, 115.1, 124.5, 136. , 126.3, 126.9, 145. ,
       115.8, 147. , 122.5, 117.5, 127.5, 133.3,  97. , 112. , 130.5,
       141.7, 119.7, 119.4, 155. , 122.7, 117.9, 116.8, 125.4, 127.2,
       103.4, 123.2, 124.1,  99.5, 110.8, 118.9, 121.6, 149.2, 126.2,
       127.8, 113.7, 117.8, 136.7, 144.7, 142.3, 143. , 100.1, 101. ,
       116. , 135.6, 118.7, 125.7, 107.1, 127. , 154.4, 116.1, 118.5,
       146.7, 124.3, 137.8, 147.8, 155.6, 130.9, 125. , 136.8, 151. ,
       103.5, 134.4, 132.5, 114.7, 166.9, 125.9, 178.3, 135.1, 136.2,
       116.3, 124.2, 127.1, 172. , 128.5, 131.2, 112.9, 140.9, 148.4,
       129.7, 119.9, 141. , 116.6, 140.2, 146.2, 156.1, 115. , 158.7,
       111.9, 114.2,  96. , 128.9, 131.3, 139. , 120.8, 150.5, 129.4,
       114.4, 114.5, 130.3, 114.6, 129.9, 114.3, 152.4, 155.1, 153.2,
       125.2, 141.3, 104.5, 113.2, 123.8, 133.8, 132.7, 106.6, 124. ,
       116.9, 130.4, 132. , 143.7, 152.8, 133.5, 101.8, 121.9, 148.8,
       126.8, 115.9, 132.2, 183.5, 100.9, 110.3, 137.2, 118.4, 144.9,
       146.8, 138. , 119.8,  95. , 144.2, 135.3, 143.9, 140.7, 118.1,
       106.5, 137.5, 102. , 133.9, 134.7, 125.3, 106.1, 139.9, 109. ,
       109.5, 131.6, 136.4, 132.6, 158. , 144.4, 143.3, 112.3, 180. ,
       136.5, 137.6, 138.4, 123.5, 142.8, 155.5, 163.5, 161.9, 166.6,
       137.7, 152.1, 162.9, 146.5, 190. , 144.3, 148.3, 107.5, 138.5,
       113.6, 143.2, 118.3, 115.6, 112.4, 154. , 111.3, 162.5, 119. ,
       131.1, 162. , 110.6, 156.9, 159.1, 149. , 129.6, 133.6, 146.9,
       109.1, 129.2, 154.1, 147.2, 151.6, 111.6, 117.3, 115.7, 134.8,
       112.6, 128.1, 143.4,  96.7, 143.1, 143.5, 151.1, 112.5, 133.1,
       151.3, 113.8, 107.7, 128.6, 134.6, 135.7, 135.5, 127.7, 140.1,
       105.5, 120.2, 145.6, 142. , 107.8, 109.4, 143.6, 119.5, 175.6,
       136.9, 101.7, 112.7, 105.8, 126.4, 164.9, 157.5, 146.6, 142.2,
       135.9, 106.8, 139.7, 146. , 108.8, 134.9, 136.6, 159. , 105.4,
       139.1, 184. , 108.3, 147.6, 125.1, 150.3, 120.5, 120.6, 168.5,
       108.5, 138.2, 144. , 152.3, 169.7, 117.7, 159.7, 159.9, 153.5,
       123.1, 171.2, 153.9, 111. ,  98.9, 139.4, 154.8,  95.5, 111.1,
       147.7, 138.3, 141.8, 125.6, 144.1, 122.4, 116.2, 139.2, 116.7,
       155.8,  97.2, 156. , 163.7, 156.3, 153. , 141.4, 168. , 101.3,
        98.7, 100.7, 106.2, 103. ,  98.1, 130.7, 164.3,  99. , 161.2,
       149.9, 110.5, 137.9, 165.8, 152.5, 140.5, 104.8, 140.8, 121.2,
       133.7, 151.9, 145.4, 115.4,  97.4, 105.2, 134.2, 146.3, 161.5,
       148.7,  98. , 143.8, 138.7, 138.6, 155.2, 106.3,  97.5, 139.6,
       150.6, 184.4, 150.2, 146.1, 102.6, 153.8, 137.3, 149.3, 119.2,
       147.3, 147.5, 110.4, 148.9, 150.9,  99.3, 104.1, 176.7, 156.8,
       144.6, 153.6, 158.3, 154.9, 100.5, 107.2, 141.2, 150.4, 138.9,
        95.1, 157.7, 104.6, 178. , 161.1, 107.6, 145.2, 160.6, 145.8,
        95.8, 105.6, 110.7, 106.4, 150.1, 156.5,  98.6, 146.4, 165.7,
       156.4, 148.5, 104.7, 151.5, 139.3, 158.1, 163.3, 107.3, 145.7,
       153.1, 161.8, 150.8, 163.6, 145.9, 105.1, 144.8, 151.2, 167.3,
       168.2, 166. , 101.5, 112.8, 104.2, 102.2, 105.3, 149.5, 130.1,
       108.6, 135.4, 149.7, 169.2, 144.5, 153.7, 157.8, 152.9,  98.5,
       160.1, 160.5, 151.4, 151.7, 176. , 142.4, 141.6, 100.2, 152.7,
       173.3, 157.4, 102.4, 162.2, 159.5, 135.2, 154.5, 105.7, 108.4,
       109.8, 165.2, 103.6,  99.6, 167.1, 139.5, 154.3, 142.7, 140.3,
       103.7, 162.4,  96.1, 109.6, 149.4, 101.6, 148.6, 107.4, 168.6,
       155.9, 179.6, 141.1, 163. , 154.7, 109.9, 154.6, 148.2, 142.6,
       147.9, 160.4, 111.4, 163.1, 102.8, 162.1, 103.8, 156.2])